/*
Syntax error: Colors must have either three or six digits: '#F0310'
        on line 6 of /root/octopress/sass/custom/_colors.scss
        from line 5 of /root/octopress/sass/screen.scss

1: /root/octopress/sass/screen.scss

Backtrace:
/root/octopress/sass/custom/_colors.scss:6
/root/octopress/sass/screen.scss:5
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/script/lexer.rb:276:in `color'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/script/lexer.rb:231:in `token'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/script/lexer.rb:210:in `read_token'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/script/lexer.rb:161:in `peek'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/script/parser.rb:459:in `try_tok'
(eval):2:in `unary_plus'
(eval):3:in `times_div_or_mod'
(eval):3:in `plus_or_minus'
(eval):3:in `relational'
(eval):3:in `eq_or_neq'
(eval):3:in `and_expr'
(eval):3:in `or_expr'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/script/parser.rb:273:in `space'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/script/parser.rb:258:in `interpolation'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/script/parser.rb:221:in `expr'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/script/parser.rb:449:in `assert_expr'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/script/parser.rb:49:in `parse'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/scss/parser.rb:900:in `sass_script'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/scss/parser.rb:437:in `variable'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/scss/parser.rb:480:in `block_child'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/scss/parser.rb:473:in `block_contents'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/scss/parser.rb:58:in `stylesheet'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/scss/parser.rb:27:in `parse'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/engine.rb:326:in `_to_tree'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/engine.rb:258:in `to_tree'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/tree/visitors/perform.rb:144:in `visit_import'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/tree/visitors/perform.rb:18:in `visit'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/tree/visitors/perform.rb:18:in `visit'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/tree/visitors/perform.rb:7:in `visit'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/tree/root_node.rb:20:in `render'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/engine.rb:299:in `_render'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/sass-3.1.18/lib/sass/engine.rb:246:in `render'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.1/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.1/lib/compass/compiler.rb:139:in `block in compile'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.1/lib/compass/logger.rb:45:in `red'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.1/lib/compass/compiler.rb:138:in `compile'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.1/lib/compass/compiler.rb:118:in `compile_if_required'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.1/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.1/lib/compass/compiler.rb:101:in `each'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.1/lib/compass/compiler.rb:101:in `block in run'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.1/lib/compass/compiler.rb:100:in `run'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.1/lib/compass/commands/update_project.rb:45:in `perform'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.1/lib/compass/commands/base.rb:18:in `execute'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.1/lib/compass/commands/project_base.rb:19:in `execute'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.1/bin/compass:29:in `block in <top (required)>'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.1/bin/compass:43:in `call'
/usr/local/rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.1/bin/compass:43:in `<top (required)>'
/usr/local/rvm/gems/ruby-1.9.2-p320/bin/compass:23:in `load'
/usr/local/rvm/gems/ruby-1.9.2-p320/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Colors must have either three or six digits: '#F0310'\A         on line 6 of /root/octopress/sass/custom/_colors.scss\A         from line 5 of /root/octopress/sass/screen.scss\A \A 1: /root/octopress/sass/screen.scss"; }
